body {
        background-color: #3474f3;
        color: white;
        padding: 40px;
        font-family: Arial;
        text-align: center;
        border: 10px;
      }

.Navbar {
    background-color: red;
}