body {
        background-color: #3474f3;
        color: white;
        padding: 40px;
        font-family: Arial;
        text-align: center;
      }

      .navBarLink {
        margin: 5px;
    
      }

      .navBar {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
      }


      .card {
         -webkit-box-shadow: 0 0 10px 0 #000000;
           -moz-box-shadow: 0 0 10px 0 #000000;
           box-shadow: 0 0 10px 0 #000000;
           padding-bottom: 20px;
           padding-top:15px;
           padding-left: 5px;
           padding-right: 5px;
           margin-bottom: 24px;
           background-color: rgb(223, 219, 223);
           color:rebeccapurple;
           font-size: 20px;
       }

       .adventureTitles {
         font-size:28px;
         font-style: oblique;
       }

      .submitForm, input {
        text-align: center;
        box-sizing: border-box;
        display:grid;
        font-family: inherit;
        font-size: 18px;
        width : 400px;
        height: 30px;
        padding: 20;
        margin: 3px;
      }

      .moreInfo {
        height: 50px;
      }

     


      @media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
      }