body {
        background-color: #3474f3;
        color: white;
        padding: 40px;
        font-family: Arial;
        text-align: center;
      }

      .navBarLink {
        margin: 5px;
    
      }

      .navBar {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
      }


      .card {
       
    
         -webkit-box-shadow: 0 0 10px 0 #000000;
           -moz-box-shadow: 0 0 10px 0 #000000;
           box-shadow: 0 0 10px 0 #000000;
           padding-bottom: 10px;
       }

       .adventureTitles {
         font-size:28px;
         font-style: oblique;
       }